In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

In [5]:
#Load the dataset
df = pd.read_csv('Complete_Expanded_Student_and_Campus_Activity_Dataset.csv')
df.head()

            Activity Title Activity Type
0     Jogging at the track        sports
1   Exploring a rainforest        travel
2  Theme party celebration         party
3    Conference attendance        formal
4       Relaxing at a cafe        casual